.header-container {
    padding-top: 2rem;
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.header-container_title h1{
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    text-transform: none;
    color: var(--clr-grey-9)
}

@media screen and (min-width: 300px) {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
}